@import "constants/index";
@import "mixins/index";
@import "typography/index";
@import "containers/index";
@import "cell/index";

.lb {
   display: flex;
   width: 100%;
   &_col {
      width: 100%;
      flex-direction: column;
   }
}
