$row-height: 100px;

@mixin flex {
  display: flex;
}

@mixin flex-center {
  @include flex();
  justify-content: center;
  align-items: center;
}

@mixin reset-mg-pd {
  margin: 0;
  padding: 0;
}

.root {
  background-color: yellow;
  border: 1px solid red;
}

.lb {
  background-color: yellowgreen;

  &_headers {
    @include reset-mg-pd();
    display: flex;
    flex-direction: row;

    &_text {
      font-size: 2em;
    }
  }

  &_row {
    @include reset-mg-pd();
    @include flex-center();
    padding: 0;
    margin: 0;

    &_place {
      @include reset-mg-pd();
      @include flex-center();
      align-items: center;
      width: 50px;
      background-color: #fff;
    }

    &_content {
      @include reset-mg-pd();
      @include flex-center();
      width: 100%;
      background-color: #fff;
    }
  }

  &_col {
    @include flex-center();
    flex-direction: column;
  }
}

.lb_row_wrapper {
  @include flex();
  flex-direction: column;
}